  <div class="masthead-container">
    <div id='map'>
    </div>
    <nav class="logo">
      <h1>SuperDuber</h1>
      <div class="prof-pic">
        <a href="/logout" class="logout-btn">Logout</a>
        <img src=<%= current_user.picture %>>
      </div>

    </nav>
    <div class="greeting-container">
      <h1> Welcome, <%= current_user.first_name %>!</h1>
    </div>
  </div>
  <div class="content-container">
    <h2>Schedule a new event for Uber pickup:</h2>

    <form action="/users/<%= current_user.uuid %>/events" method="post" class="event-form">
      <p class="hidden" id="user-id"><%= current_user.uuid %></p>
      <label>Event Name:</label>
      <input name="event[name]" class="name" type="text" required />

      <label>Depart Address:</label>
      <input name="event[depart_address]" class="dep-addr" type="text" required />

      <label>Arrive Address:</label>
      <input name="event[arrival_address]" class="arr-addr" type="text" required />

      <label>Date & Time (local):</label>
      <input name="event[arrival_datetime]" class="arr-date" type="datetime-local" required />

      <label>Ride Type:</label>
      <div class="radio-btns">
        <label>
          <input name="event[ride_name]" value="UberX" type="radio" />
          UberX
        </label>
        <br>
        <label>
          <input name="event[ride_name]" value="UberBLACK" type="radio" />
          UberBLACK
        </label>
        <br>
        <label>
          <input name="event[ride_name]" value="UberSUV" type="radio"  />
          UberSUV
        </label>
        <br>
        <label>
          <input name="event[ride_name]" value="UberTAXI" type="radio" />
          UberTAXI
        </label>
        <br>
      </div>
      <input class="submit-btn" type="submit">

    </form>

    <hr />

    <h2><%= current_user.first_name %>'s Upcoming Events:</h2>
    <div class="event-container">
      <% current_user.upcoming_sorted_events.each do |event| %>
      <div class="event">
        <div class="event-content">
          <p class="hidden" id="user-id"><%= current_user.uuid %></p>
          <p class="hidden" id="event-id"><%= event.id %></p>
          <p class="event-name">Name: <%= event.name %></p>
          <p class="arr-date">Date: <%= event.arrival_datetime.strftime("%B %d, %Y @ %l:%M%P") %></p>
          <p class="dep-addr">Depart From: <%= event.depart_address %></p>
          <p class="arr-addr">Arrive At: <%= event.arrival_address %></p>
          <div class="ud-btns">
            <a href="/users/<%= current_user.uuid %>/events/<%=event.id%>/edit"><div class="edit-btn">
              <i class="fa fa-pencil"></i>Edit
            </div></a>
            <div class="delete-btn">
              <i class="fa fa-trash-o"></i>Delete
            </div>
          </div>
        </div>

      </div>
      <% end %>
    </div>
  </div>
</body>
</html>